################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Csharpsanitizer.slnx/DesignTimeBuild
/.vs/Csharpsanitizer.slnx/FileContentIndex
/.vs/Csharpsanitizer.slnx/v18
/.vs/ProjectEvaluation
